<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body >
    <h1>Your contact information</h1>
    <div data-th-object="${contact}">
        <p>
            id:
            <p data-th-text="*{id}"></p>
        </p>
        <br/>
        <p>
            Name:
            <p data-th-text="*{name}"></p>
        </p>
        <br/>
        <p>
            Email:
            <p data-th-text="*{email}"></p>
        </p>
        <br/>
        <p>
            Phone Number :
            <p data-th-text="*{phoneNumber}"></p>
        </p>
        <br/>
        <p>
            Date of Birth:
            <p data-th-text="*{dateOfBirth}"></p>
        </p>
        <br/>
    </div>
    
</body>
</html>