<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body data-th-object="${weather}">
    <div class="container">
        <img data-th-src="*{conditions.get(0).icon}"/>
        <br>
        <p data-th-text="*{city}"></p>
        <br>
        <p data-th-text="*{conditions.get(0).description}"></p>
        <br>
        <p data-th-text="*{temperature}"></p>
        <br>
        Weather Date time:
        <p data-th-text="*{#dates.format(weatherTimeStamp * 1000, 'dd-MM-yyyy HH:mm:ss')}"></p>
        <br>
        Sunrise Date time:
        <p data-th-text="*{#dates.format(sunriseTimeStamp * 1000, 'dd-MM-yyyy HH:mm:ss')}"></p>
        <br>
        Sunset Date time:
        <p data-th-text="*{sunsetTimeStamp}"></p>
        
        <p data-th-text="*{#dates.format(sunsetTimeStamp * 1000 , 'dd-MM-yyyy HH:mm:ss')}"></p>
        
    </div>
</body>
</html>