<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of Contacts</h1>
    <table>
        <tr data-th-each="contactid : ${contacts}">
            <td>
                <a data-th-href="@{'/contact/' + ${contactid}}"
                data-th-text="${contactid}"
                />
            </td>
        </tr>
    </table>
</body>
</html>