<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <table border="1">
        <tr
          th:each="a, iStat : ${arr}"
          th:style="${a.percentage > 70}? 'font-weight: bold;'"
          th:alt-title="${iStat.even}? 'even' : 'odd'"
        >
          <td th:text="${iStat.index+1}" />
          <td th:text="${a.fname}" />
          <td>&hearts;</td>
          <td th:text="${a.sname}" />
          <td th:text="${a.percentage}" />
        </tr>
      </table>
    </div>
  </body>
</html>
